body{
    background-color: #3e444d;
}

#ChanceWrapper{
    display: flex; 
    margin-left: auto; 
    margin-right: auto;
}

#ColourProportions{
    display: inline-block; 
    margin-right: 0; 
    margin-left: auto;
}

#ColourChoices{
    display: block; 
    margin-top: 60%;
}

#GenerateContainer{
    display: block; 
    text-align: center;
}

#RandomChoiceContainer{
    display: block;
    text-align: center;
}

#LabelContainer{
    width: 100%; 
    height: 2em; 
    background-color: #3e444d; 
    margin-right: auto;
    margin-left: auto; 
    margin-top: 10%; 
    margin-bottom: 10%;
}

#Choice{
   width: 100%;
}

#ChanceWheel{
    display: block; 
    margin-right: auto; 
    margin-left: 0; 
    background-color:#3e444d;
    height:500px; 
    width:500px;
}

#Counters{
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 20%;
}