body{
    background-color: #3e444d;
    font-family: Arial, Helvetica, sans-serif;
}

#FormContainer{
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
#ChanceWheelPages{
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    width: 40%;
    
   
}
#RandomNamesPages{
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    width: 40%;
   
}
#FormContainer Label {
    color: #b0b0b0;
    display: inline-block;
    background-color: #2e4d7c;
    
    border-radius: 10px;
    width: 100%;
    
}
#ChanceWheelLoader{
    display: none;
}
#RandomNamesLoader{
    display: none;
}

#ChanceWrapper{
    display: flex; 
    margin-left: auto; 
    margin-right: auto;
}

#ColourProportions{
    display: inline-block; 
    margin-right: 0; 
    margin-left: auto;
}

#ColourChoices{
    display: block; 
    margin-top: 60%;
}

#GenerateContainer{
    display: block; 
    text-align: center;
}

#RandomChoiceContainer{
    display: block;
    text-align: center;
}

#LabelContainer{
    width: 100%; 
    height: 2em; 
    background-color: #3e444d; 
    margin-right: auto;
    margin-left: auto; 
    margin-top: 10%; 
    margin-bottom: 10%;
}

#Choice{
   width: 100%;
}

#ChanceWheel{
    display: block; 
    margin-right: auto; 
    margin-left: 0; 
    background-color:#3e444d;
    height:500px; 
    width:500px;
}

#Counters{
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 20%;
}

#ListContainer{
    font-family: Arial, Helvetica, sans-serif; 
    color: #b0b0b0;
    display: inline-block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#ListItems{
    display: inline-block;
    text-align: center;
}

