/* This CSS is en evolving document.
It will become more concise as it is refactored, and irrelvant code removed. */


body{
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    text-align: center;
}
#AboutMeBio{
    text-align: justify;
    margin-right: 30%;
    margin-left: 30%;
}
#SocialsContainer img{
    width: 3%;
}
#SocialsContainer a{
    color:#ffffff;
}
#ProbabilityTool, #RandomItemTool, #TTTPage{
    background-color: #3e444d;
    font-family: Arial, Helvetica, sans-serif;
}
#ProbabilityTool h2{
    margin-top: 0%;
}
h3{
    text-align: center;
    color: #b0b0b0;
    margin-bottom: 0%;
}
a { 
    color: #448fff;
}
#ProbabilityTool Form label{
    margin-top: 1%;
    margin-bottom: 0%;
}
#RandomItemTool Form label, #TTTPage Form label{
    margin-top: 1%;
    margin-bottom: 1%;
}

#Avatar{
    width: 20%;
    height: 20%;
    border-radius: 5px;
    border: 0px;
}
#Separator{
    width: 100%;
    height: 1px;
    margin-top: 1%;
    background-color: #eeeeee;
}
video{
    width: 15%;
    height: 8.5%;
}
#LargeVideo{
    width: 100%;
    text-align: center;
}
#LargeVideo video{
    width:60%;
}


#VideosContainer label{
    color: #b0b0b0;
    display: inline-block;
    outline: none;
    width: 100%;
}

#TicTacToeImg{
    width: 30%;
}
#TicTacToeBtn{
    display: none;
}
.Hidden{
    display: none;
    position: absolute;
    text-align: center;
    z-index: 2;
    width: 100%;
    height: 100%;
}
.Hidden video{
    width: 95%;
    height: 95%;
    outline: none;
}
#QuitVideo{
    position: absolute;
    z-index: 4;
    left:95%;
}
.Player{
    display: block;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 20%;
}
#VideoPlay{
    position: relative;
}
#VideoPlay Label{
    color: #eeeeee;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28pt;
    font-weight: bold;
}
#VideoPaused{
    display: none;
    position: absolute;
    top: 42%;
    left: 23.5%;
}
#VideoPaused Label{
    color: #eeeeee;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28pt;
    font-weight: bold;
}
#FormContainer{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


#AboutMe, #ChanceWheelPages, #RandomNamesPages, #TicTacToePage{
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2%;
}
#ChanceWheelImg, #RandomItemChooserImg, #TicTacToeImg{
    width: 40%; 
}

   
#ChanceExplanation{
    color:#b0b0b0;
    text-align: justify;
    margin-right: 2%;
    margin-top: 0%;
    width:25%;
}
#FormContainer Label {
    color: #b0b0b0;
    display: inline-block;
    outline: none;
    width: 100%; 
}
#FormContainerItems{
    text-align: center;
}
#FormContainerItems Label{
    color: #b0b0b0;
    display: block;
    outline: none;
}
#ChanceWheelLoader{
    display: none;
}
#RandomNamesLoader{
    display: none;
}
#IndexLoader{
    display: none;
}

#ChanceWrapper{
    display: flex; 
    margin-left: auto; 
    margin-right: auto;
    height:390px;
}

#ColourProportions{
    display: inline-block; 
    margin-right: 0; 
    margin-left: 5%;
}

#ColourChoices{
    display: block; 
}

#ButtonContainerProb{
    display: block;
    width: 100%;
}
#GenerateContainer{
    display: block; 
    text-align: center;
}
#ButtonContainerProb Button{
    color: #b0b0b0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    display: inline-block;
    background-color: #2e4d7c;
    border: 0px;
    border-radius: 10px;
    outline: none;
    width: 100%;
    margin-top: 5%;
}
#RandomChoiceContainer{
    display: block;
    text-align: center;
}

#CanvasContainer{
    display: inline;
    margin-right: auto;
    margin-left: auto;
}
#ChanceWheel{
    display: block; 
    margin-right: auto; 
    margin-left: 0; 
    background-color:#3e444d;
    height:400px; 
    width:400px;
}
#Choice{
    display: block; 
    font-size: 30pt; 
    height: 1em;
    font-weight: bold; 
    font-family:Arial, Helvetica, sans-serif; 
    text-align: center;
}
#CounterContainer{
    text-align: center;
}
#Counters{
    margin-left: auto; 
    margin-right: auto; 
}

#AppContainerItems, #AppContainer{
    display: flex;
    width: 100%;
}


#RandomItemExplanation{
    color:#b0b0b0;
    text-align: justify;
    margin-left: 20%;
    margin-right: 10%;
    margin-bottom: 0%;
    width: 30%;
}

#TTTPage #AppContainer{
    margin-top:2%;
    position: relative;
}
#TicTacToeExplanation{
    color:#b0b0b0;
    text-align: justify;
    margin-right: 5%;
    width: 50%;
}
#RandomContainer{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top:1%;
    width:30%;
}
#ListContainer{
    margin-top: 1%;
    font-family: Arial, Helvetica, sans-serif; 
    color: #b0b0b0;
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    
}

#ListItems{
    display: inline-block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #eeeeee;
    border: 0px;
    border-radius: 15px;
    outline: none;
    background: #505763;
    
}

#ButtonContainer{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 56%;
}
#RandomiserBtn{
    color: #b0b0b0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    display: inline-block;
    background-color: #2e4d7c;
    border: 0px;
    border-radius: 10px;
    outline: none;
    width: 100%;
    margin-top: 0%;
}
#LabelContainer{
    display: block;
    text-align: center;
    color: #a7c6ff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 22pt;
    margin-top: 1%;
}